
body {
    margin: 0px;
    padding: 0px;
    height: auto;
    min-height: 100vh;
    background-image: url(./assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::before {
    content: normal;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(21, 44, 30, 0.2);
    
}